{{#each items}}
<li class="friends__item" draggable="true" data-id={{id}}>
    <div class="friends__user">
        <img src="{{photo_100}}" alt="Friend Photo" class="friends__photo">
        <div class="friends__name">{{first_name}} {{last_name}}</div>
    </div>
    <div class="friends__button">
        <i class="glyphicon glyphicon-remove close-icon" aria-hidden="true"></i>
    </div>
</li>
{{/each}}